.content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
   font-size: 100px; 
   box-shadow: 10px; 
   background-color:#f0f71e;
  
}

.donate {
    display: flex;
    justify-content: center;
    

}
.via{
    display: flex;
    justify-content: center;
}
.ways a{
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding: 35px;



    
}